.carousel {
  width: 100%;
  position: relative;
  padding-top: 777px;
  background-color: #F7F7F7;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-image: url('img/products/show/1/4.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__slide:nth-child(1) {
  background-image: url('img/products/show/1/1.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__slide:nth-child(2) {
  background-image: url('img/products/show/1/2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__slide:nth-child(3) {
  background-image: url('img/products/show/1/3.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 373px;
  width: 47px;
  height: 47px;
  transform: translateY(-50%);
  font-size: 0;
  outline: 0;
}

.carousel__prev {
  left: 0rem;
}

.carousel__next {
  right: 0rem;
}

.carousel__prev:hover, .carousel__next:hover {
  .arrow_path {
    fill: $pinkColor;
  }
} 