.catalog_page {

    &__filter_sort {
        margin-top: 51px;
        margin-bottom: 65px;

        &__box {
            position: relative;

            &__filter {
                box-sizing: border-box;
                @include text(#000, 14px, 600);
                width: 360px;
                padding: 13px 16px 16px;
                position: absolute;
                z-index: 10;
                top: -13px;

                &>summary {
                    display: flex;
                    align-items: center;
                    gap: 11px;

                }

                &:hover,
                &[open] {
                    &>summary {
                        color: $pinkColor;

                        &>svg>path {
                            fill: $pinkColor;
                        }
                    }
                }

                &[open] {
                    background-color: #FFF;
                    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                }

                &__menu {
                    padding-left: 16px;
                    padding-bottom: 16px;

                    &>ol {
                        @extend %flex_column;
                        gap: 18px;
                        margin-top: 16px;
                    }

                    &__category {
                        &__subcategory {
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid #EBEBEB;
                            gap: 8px;
                        }

                        & ol {
                            @extend %flex_column;
                            gap: 11px;
                            padding: 24px 17px 6px;
                        }

                        & li {
                            @include text(#6F6E6E, 14px, 400);
                        }
                    }
                }

            }

            &__options {
                .info__box__options__box {
                    margin-left: 390px;
                    justify-content: start;
                }
            }
        }
    }

    &__list {
        margin-bottom: 48px;
    }

    &__nav {
        margin-bottom: 96px;
    }
}