.catalog_page {

    &__filter_sort {
        margin-top: 51px;
        margin-bottom: 65px;

        &__box {
            position: relative;

            &__filter {
                box-sizing: border-box;
                @include text(#000, 14px, 600);
                width: 360px;
                padding: 13px 16px 16px;
                position: absolute;
                z-index: 10;
                top: -13px;

                &>summary {
                    display: flex;
                    align-items: center;
                    gap: 11px;

                }

                &:hover,
                &[open] {
                    &>summary {
                        color: $pinkColor;

                        &>svg>path {
                            fill: $pinkColor;
                        }
                    }
                }

                &[open] {
                    background-color: #FFF;
                    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                }

                &__menu {
                    padding-bottom: 16px;

                    &>ol {
                        @extend %flex_column;
                        gap: 18px;
                        margin-top: 16px;
                    }

                    &__category {
                        &__subcategory {
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid #EBEBEB;
                            gap: 8px;
                        }

                        &>details[open] {
                            color: $pinkColor;
                        }

                        & ol {
                            @extend %flex_column;
                            gap: 11px;
                            padding: 24px 17px 6px;
                        }

                        & li>a {
                            @include text(#6F6E6E, 14px, 400);
                        }
                    }
                }

            }

            &__options {
                &__all_options {
                    margin-left: 390px;
                    justify-content: start;

                    &__option {
                        position: relative;

                        &__list {
                            box-sizing: border-box;
                            position: absolute;
                            background-color: #FFF;
                            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                            z-index: 5;
                            padding: 9px 9px 12px;



                            &>ol>li {
                                display: flex;
                                gap: 9px;
                                @include text($greyColor, 14px, 400);
                            }
                        }

                        .size_frame {
                            min-width: 79px;
                            top: 22px;
                            left: -12px;
                        }
                    }
                }
            }
        }
    }

    &__list {
        margin-bottom: 48px;
    }

    &__nav {
        margin-bottom: 96px;
        height: 43px;
        display: flex;
        justify-content: center;

        &__box {
            border: 1px solid #EBEBEB;
            display: flex;
            gap: 15px;
            padding-left: 16px;
            padding-right: 16px;

            & button {
                border: none;
                background-color: #FFF;
                cursor: pointer;
            }

            &__pages {
                display: flex;
                align-items: center;

                &__page {
                    @include text($greyColor, 16px, 300);
                }

                .page_gap {
                    padding-right: 10px;
                }

                .active_page {
                    color: $pinkColor;
                }
            }
        }
    }
}