* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    font-family: Lato;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

@include center(570px);

details>summary {
    cursor: pointer;
}

summary {
    display: block;
}

ol,
li {
    list-style: none;
}