.banner {
    background-color: #F1E4E6;
    margin-bottom: 65px;

    &__content {
        display: flex;
        justify-content: center;
    }

    &__content div {
        width: 50%;
    }

    &__left {
        display: flex;
        justify-content: end;
    }

    &__right {
        display: flex;
        justify-content: start;
    }

    &__tagline {
        display: flex;
        align-items: center;
    }

    &__text__box {
        padding-left: 12.5%;
        display: flex;
        gap: 16px;
    }

    &__text {
        min-width: 377px;
        display: flex;

        h1 {
            color: #222;
            font-size: 32px;
            font-weight: 700;
        }

        b {
            font-size: 48px;
            font-weight: 900;
        }

        span {
            color: #F16D7F;
            font-size: 32px;
            font-weight: 700;
        }
    }
}

.offer {
    &__content {
        @extend %flex_wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: 96px;
    }

    &__card {
        @extend %flex_center_center;
        position: relative;

        &:hover {
            box-shadow: 3px -3px rgba(33, 22, 22, 0.70);
        }
    }

    &__rectangle {
        position: absolute;
        width: 100%;
    }

    &__text {
        position: absolute;

        h3 {
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }

        b {
            color: #F16D7F;
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.product {
    &__content {
        @extend %flex_column;
        align-items: center;
        gap: 48px;
        margin-bottom: 95px;
    }

    &__head {
        text-align: center;
    }

    &__title {
        margin-bottom: 6px;
        color: #222;
        font-size: 30px;
        font-weight: 400;
    }

    &__subtitle {
        color: #9F9F9F;
        font-size: 14px;
        font-weight: 400;
    }

    &__items {
        @extend %flex_wrap;
        gap: 30px;
        justify-content: center;
    }

    &__item {
        width: 360px;
        @extend %flex_column;
    }

    &__view {
        background-color: #F7E4E2;
        width: 360px;
        height: 420px;
        @extend %flex_center_center;
        position: relative;

        &>img {
            position: absolute;
        }

        &:hover {
            .product__rectangle {
                display: inline;
                width: 100%;
                height: 100%;
                background-color: rgba(58, 56, 56, 0.86);
            }

            .product__button {
                border: 1px solid #fff;
                min-width: 139px;
                min-height: 44px;
                background: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

    &__rectangle {
        display: none;
        position: absolute;
    }

    &__button {
        display: none;
        position: absolute;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;

        &:hover {
            cursor: pointer;
        }
    }

    &__info {
        padding: 14px 16px;
        background-color: #F8F8F8;

        h5 {
            margin-bottom: 16px;
            color: #000;
            font-size: 13px;
            font-weight: 400;
        }

        p {
            margin-bottom: 16px;
            color: #5D5D5D;
            font-size: 14px;
            font-weight: 300;
            max-width: 315px;
        }

        h4 {
            color: #F16D7F;
            font-size: 16px;
            font-weight: 400;
        }
    }

    &__browse__all {
        @extend %flex_center_center;
        width: 212px;
        height: 48px;
        color: #F26376;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #F26376;

        &:hover {
            background-color: #F26376;
            color: #FFF;
        }
    }
}

.advantages {
    background-color: #222224;
    @extend %flex_wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    gap: 30px;
    min-height: 341px;

    .advantage {
        display: flex;

        &__link {
            @extend %flex_column_center_center;

            img {
                margin-bottom: 19px;
            }

            h3 {
                color: #FBFBFB;
                font-size: 19.96px;
                font-weight: 400;
                margin-bottom: 16px;
            }

            p {
                color: #FBFBFB;
                text-align: center;
                font-size: 13.972px;
                font-weight: 300;
            }

            &:hover {
                .advantage_img {
                    filter: contrast(30);
                    scale: 1.2;
                }

                scale: 1.02;
            }
        }
    }
}