.banner {
    background-color: #F1E4E6;
    margin-bottom: 65px;

    &__content {
        display: flex;
        justify-content: center;
    }

    &__content div {
        width: 50%;
    }

    &__left {
        display: flex;
        justify-content: end;
    }

    &__right {
        display: flex;
        justify-content: start;
    }

    &__tagline {
        display: flex;
        align-items: center;
    }

    &__text__box {
        padding-left: 12.5%;
        display: flex;
        gap: 16px;
    }

    &__text {
        min-width: 377px;
        display: flex;

        h1 {
            @include text(#222, 32px, 700);
        }

        b {
            @include text(#222, 48px, 900);
        }

        span {
            @include text(#F16D7F, 32px, 700);
        }
    }
}

.offer {
    &__content {
        @extend %flex_wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: 96px;
    }

    &__card {
        @extend %flex_center_center;
        position: relative;

        &:hover {
            box-shadow: 3px -3px rgba(33, 22, 22, 0.70);
        }
    }

    &__rectangle {
        position: absolute;
        width: 100%;
    }

    &__text {
        position: absolute;

        h3 {
            text-align: center;
            @include text(#FFF, 16px, 400);
        }

        b {
            @include text(#F16D7F, 24px, 700);
        }
    }
}

.product {
    &__content {
        @extend %flex_column;
        align-items: center;
        gap: 48px;
        margin-bottom: 95px;
    }

    &__head {
        text-align: center;
    }

    &__title {
        margin-bottom: 6px;
        @include text(#222, 30px, 400);
    }

    &__subtitle {
        @include text(#9F9F9F, 14px, 400);
    }

    &__items {
        @extend %flex_wrap;
        gap: 30px;
        justify-content: center;
    }

    &__item {
        width: 360px;
        @extend %flex_column;
    }

    &__view {
        background-color: #F7E4E2;
        width: 360px;
        height: 420px;
        @extend %flex_center_center;
        position: relative;

        &>img {
            position: absolute;
        }

        &:hover {
            .product__rectangle {
                display: inline;
                width: 100%;
                height: 100%;
                background-color: rgba(58, 56, 56, 0.86);
            }

            .product__button {
                border: 1px solid #fff;
                min-width: 139px;
                min-height: 44px;
                background: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

    &__rectangle {
        display: none;
        position: absolute;
    }

    &__button {
        display: none;
        position: absolute;
        @include text(#FFF, 14px, 400);

        &:hover {
            cursor: pointer;
        }
    }

    &__info {
        padding: 14px 16px;
        background-color: #F8F8F8;

        h5 {
            margin-bottom: 16px;
            @include text (#000, 13px, 400);
        }

        p {
            @include text(#5D5D5D, 14px, 300);
            margin-bottom: 16px;
            max-width: 315px;
        }

        h4 {
            @include text(#F16D7F, 16px, 400);
        }
    }

    &__browse__all {
        @extend %flex_center_center;
        width: 212px;
        height: 48px;
        @include text(#F26376, 16px, 400);
        border: 1px solid #F26376;

        &:hover {
            background-color: #F26376;
            color: #FFF;
        }
    }
}

.advantages {
    background-color: #222224;
    @extend %flex_wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    gap: 30px;
    min-height: 341px;

    .advantage {
        display: flex;

        &__link {
            @extend %flex_column_center_center;

            img {
                margin-bottom: 19px;
            }

            h3 {
                @include text(#FBFBFB, 20px, 400);
                margin-bottom: 16px;
            }

            p {
                text-align: center;
                @include text(#FBFBFB, 14px, 300);
            }

            &:hover {
                .advantage_img {
                    filter: contrast(30);
                    scale: 1.2;
                }

                scale: 1.02;
            }
        }
    }
}