.sub_nav {
    @extend %flex_center_center;
    min-height: 148px;
    background-color: #F8F3F4;

    &__content {
        width: 100vw;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        &__title {
            padding-left: 16px;

            h1 {
                @include text($pinkColor, 24px, 400);
            }
        }

        &__nav {
            &__item {
                &__link {
                    @include text(#636363, 14px, 300);
                }
            }
            &__active {
                @include text($pinkColor, 14px, 700);
            }
        }

    }
}

.image_slide {}